<a href="https://colab.research.google.com/github/MalikHasnat1999/Web-Scraping/blob/master/Disney_Dataset_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [114]:
# import libraries
import requests
from bs4 import BeautifulSoup

## Load the webpage

In [115]:
# request the webpage connection
r = requests.get("https://en.wikipedia.org/wiki/Tron:_Legacy")

# convert to beautiful soup
soup = BeautifulSoup(r.content)
contents = soup.prettify()
# print(contents)

### Task#1: Creating Dictionary of info box

In [116]:
info_box = soup.find(class_="infobox vevent")
info_rows = info_box.find_all("tr")


def get_content_value(td):
  if td.find("li"):
    return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in td.find_all("li")]
  else:
    return td.get_text(" ", strip=True).replace("\xa0", " ")


movie_info = {}
for index, tr in enumerate(info_rows):
  if index == 0:
    movie_info["title"] = tr.th.get_text(" ", strip=True)
  elif index == 1:
    continue
  else:
    content_key = tr.th.get_text(" ", strip=True)
    content_value = get_content_value(tr.find("td"))
    movie_info[content_key] = content_value

movie_info

{'title': 'Tron: Legacy',
 'Directed by': 'Joseph Kosinski',
 'Screenplay by': ['Edward Kitsis', 'Adam Horowitz'],
 'Story by': ['Edward Kitsis',
  'Adam Horowitz',
  'Brian Klugman',
  'Lee Sternthal'],
 'Based on': ['Steven Lisberger', 'Bonnie MacBird'],
 'Produced by': ['Sean Bailey', 'Jeffrey Silver', 'Steven Lisberger'],
 'Starring': ['Garrett Hedlund',
  'Jeff Bridges',
  'Olivia Wilde',
  'Bruce Boxleitner',
  'James Frain',
  'Beau Garrett',
  'Michael Sheen'],
 'Cinematography': 'Claudio Miranda',
 'Edited by': 'James Haygood',
 'Music by': 'Daft Punk',
 'Production companies': ['Walt Disney Pictures [1]',
  'Sean Bailey Productions [2]'],
 'Distributed by': 'Walt Disney Studios Motion Pictures [1]',
 'Release dates': ['November 30, 2010 ( 2010-11-30 ) (Tokyo)',
  'December 17, 2010 ( 2010-12-17 ) (United States) [3]'],
 'Running time': '125 minutes [4]',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$170 million [5] [6]',
 'Box office': '$400.1 million [6]'}

### Task#2: Get info box for all movies

In [117]:
# request the webpage connection
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")

# convert to beautiful soup
soup = BeautifulSoup(r.content)
contents = soup.prettify()
# print(contents)

In [118]:
movies = soup.select(".wikitable.sortable i a")
movies[8]['href']

'/wiki/The_Three_Caballeros'

In [119]:

def get_content_value(td):
  if td.find("li"):
    return [li.get_text(" ", strip=True).replace("\xa0", " ") for li in td.find_all("li")]
  elif td.find('br'):
     return [text for text in td.stripped_strings]
  else:
    return td.get_text(" ", strip=True).replace("\xa0", " ")

def clean_tags(soup):
  """
    remove references [1], [2] etc
   """
  for tag in soup.find_all(['sup', 'span']):
    tag.decompose()

def get_info_box(url):

  r = requests.get(url)

  soup = BeautifulSoup(r.content)
  contents = soup.prettify()
  info_box = soup.find(class_="infobox vevent")
  info_rows = info_box.find_all("tr")

  clean_tags(soup)

  movie_info = {}
  for index, tr in enumerate(info_rows):
    if index == 0:
      movie_info["title"] = tr.th.get_text(" ", strip=True)
    # elif index == 1:
    #   continue
    else:
      header = tr.find('th')
      if header:
        content_key = tr.th.get_text(" ", strip=True)
        content_value = get_content_value(tr.find("td"))
        movie_info[content_key] = content_value

  return movie_info

In [120]:
get_info_box("https://en.wikipedia.org/wiki/One_Little_Indian_(film)")

{'title': 'One Little Indian',
 'Directed by': 'Bernard McEveety',
 'Written by': 'Harry Spalding',
 'Produced by': 'Winston Hibler',
 'Starring': ['James Garner',
  'Vera Miles',
  'Pat Hingle',
  "Clay O'Brien",
  'John Doucette',
  'Morgan Woodward',
  'Andrew Prine'],
 'Cinematography': 'Charles F. Wheeler',
 'Edited by': 'Robert Stafford',
 'Music by': 'Jerry Goldsmith',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['June 20, 1973'],
 'Running time': '90 Minutes',
 'Country': 'United States',
 'Language': 'English',
 'Box office': '$2 million'}

In [121]:
r = requests.get("https://en.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = BeautifulSoup(r.content)
movies = soup.select(".wikitable.sortable i a")

base_path = "https://en.wikipedia.org"
movie_info_list = []
for index, movie in enumerate(movies):
  if index % 10 == 0:
    print(index)
  try:
    relative_path = movie['href']
    full_path = base_path + relative_path
    title = movie['title']
  
    movie_info_list.append(get_info_box(full_path))
  except Exception as e:
    print(movie.get_text())
    print(e)

0
10
20
30
40
Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
The Beatles: Get Back – The Rooftop Concert
'NoneType' object has no attribute 'find'
490
500
Elemental
'NoneType' object has no attribute 'find_all'
61
'NoneType' object has no attribute 'find_all'
All Night Long
'NoneType' object has no attribute 'find'
Big Thunder Mountain Railroad
'NoneType' object has no attribute 'find_all'
510
Keeper of the Lost Cities
'NoneType' object has no attribute 'find_all'
Muppet Man
'NoneType' object has no attribute 'find_all'
520
Shrunk
'NoneType' object has no attribute 'find'
Sister Act 3
'NoneType' object has no attribute 'find'
The Graveyard Book
'NoneType' object has no attribute 'find_all'
The Thief
'NoneType' object has no attribute 'find_all'
530
Tom Sawyer
'NoneType' object has no attribute 'find_all'
Tower of Terror
'NoneType' object has no attribute 'find_all'
Tron: Ares
'NoneType' object has no attribute 'find'
FC Barcelona
'NoneType' object has no attribute 'find_all'

In [122]:
len(movie_info_list)

520

### Task#3: Clean our data

* ~~Clean up references [1], [2] etc~~
* Convert running time into an integer
* Convert Dates into DateTime object
* ~~Split up long strings~~
* Convert Budget & Box office to number

#### Convert running time to an integer

In [123]:
[movie.get('Running time', 'N/A') for movie in movie_info_list]

['83 minutes',
 '88 minutes',
 '126 minutes',
 '74 minutes',
 '64 minutes',
 '70 minutes',
 '42 minutes',
 '70 min',
 '71 minutes',
 '75 minutes',
 '94 minutes',
 '73 minutes',
 '75 minutes',
 '82 minutes',
 '68 minutes',
 '74 minutes',
 '96 minutes',
 '75 minutes',
 '84 minutes',
 '77 minutes',
 '92 minutes',
 '69 minutes',
 '81 minutes',
 ['60 minutes (VHS and Wild Discovery version)', '71 minutes (original)'],
 '127 minutes',
 '93 minutes',
 '76 minutes',
 '75 minutes',
 '73 minutes',
 '85 minutes',
 '81 minutes',
 '70 minutes',
 '90 min.',
 '80 minutes',
 '75 minutes',
 '83 minutes',
 '83 minutes',
 '72 minutes',
 '97 minutes',
 '75 minutes',
 '104 minutes',
 '93 minutes',
 '105 minutes',
 '95 minutes',
 '97 minutes',
 '134 minutes',
 '69 minutes',
 '92 minutes',
 '126 minutes',
 '79 minutes',
 '97 minutes',
 '128 minutes',
 '73 minutes',
 '91 minutes',
 '105 minutes',
 '98 minutes',
 '130 minutes',
 '89 minutes',
 '93 minutes',
 '67 minutes',
 '98 minutes',
 '100 minutes',
 '118 minutes',
 '103 minutes',
 '110 minutes',
 '80 min.',
 '74 minutes',
 '91 minutes',
 '91 minutes',
 '97 minutes',
 '118 minutes',
 '139 minutes',
 '131 mins.',
 '92 minutes',
 '87 minutes',
 '116 minutes',
 '93 minutes',
 '110 min.',
 '110 min.',
 '131 minutes',
 '101 minutes',
 '108 minutes',
 '84 minutes',
 '78 minutes',
 '75 minutes',
 ['164 minutes',
  '(',
  'Los Angeles',
  'premiere)',
  '144 minutes',
  '(',
  'New York City',
  'premiere)',
  '118 minutes',
  '(General release)',
  '172 minutes',
  '(',
  "Director's cut",
  ')'],
 '106 minutes',
 '110 minutes',
 '99 minutes',
 '113 mins.',
 '108 minutes',
 '102 minutes',
 '85 minutes',
 '91 minutes',
 '93 minutes',
 '100 minutes',
 '100 minutes',
 '79 minutes',
 '96 minutes',
 '113 minutes',
 '89 minutes',
 ['117 minutes (1954 original version)',
  '139 minutes (1996 reconstruction version)'],
 '92 minutes',
 '88 minutes',
 '92 minutes',
 '87 minutes',
 '93 minutes',
 '93 minutes',
 '93 minutes',
 '90 Minutes',
 '83 minutes',
 '96 minutes',
 '88 minutes',
 '89 minutes',
 '91 minutes',
 '93 minutes',
 '92 minutes',
 '97 minutes',
 '100 minutes',
 '100 minutes',
 '89 minutes',
 'N/A',
 '91 minutes',
 '112 minutes',
 '115 minutes',
 '95 minutes',
 '91 min.',
 '97 minutes',
 '104 minutes',
 '74 minutes',
 '48 minutes',
 '77 minutes',
 '104 minutes',
 '128 minutes',
 '101 minutes',
 '94 minutes',
 '104 minutes',
 '90 minutes',
 '100 minutes',
 '88 minutes',
 '93 minutes',
 '98 minutes',
 '112 minutes',
 '84 minutes',
 '97 minutes',
 '97 minutes',
 '114 minutes',
 '96 minutes',
 '97 minutes',
 '109 minutes',
 '83 minutes',
 '90 minutes',
 '107 minutes',
 '96 minutes',
 '103 minutes',
 '91 min',
 '95 minutes',
 '105 minutes',
 '113 minutes',
 '80 minutes',
 '101 minutes',
 '90 minutes',
 '74 minutes',
 '90 minutes',
 '89 minutes',
 '110 minutes',
 '74 minutes',
 '93 minutes',
 '84 minutes',
 '83 minutes',
 '74 minutes',
 '77 minutes',
 '107 minutes',
 '93 minutes',
 '88 minutes',
 '108 minutes',
 '84 minutes',
 '121 minutes',
 '89 minutes',
 '104 minutes',
 '90 minutes',
 '86 minutes',
 '84 minutes',
 '108 minutes',
 '107 minutes',
 '96 minutes',
 '98 minutes',
 '105 minutes',
 '108 minutes',
 '94 minutes',
 '106 minutes',
 '102 minutes',
 '88 minutes',
 '102 minutes',
 '102 minutes',
 '97 minutes',
 '111 minutes',
 '100 minutes',
 '96 minutes',
 '96 minutes',
 '78 minutes',
 '81 minutes',
 '108 minutes',
 '89 minutes',
 '99 minutes',
 '89 minutes',
 '81 minutes',
 '92 minutes',
 '100 minutes',
 '89 minutes',
 '79 minutes',
 '91 minutes',
 '101 minutes',
 '104 minutes',
 '103 minutes',
 '86 minutes',
 '105 minutes',
 '74 minutes',
 '93 minutes',
 '92 minutes',
 '98 minutes',
 '95 minutes',
 '93 minutes',
 '87 minutes',
 '93 minutes',
 '87 minutes',
 '128 minutes',
 '77 minutes',
 '86 minutes',
 '95 minutes',
 '114 minutes',
 '93 minutes',
 '83 minutes',
 '83 minutes',
 '88 minutes',
 '78 minutes',
 '112 minutes',
 '92 minutes',
 '78 minutes',
 '72 minutes',
 '82 minutes',
 '75 minutes',
 '104 minutes',
 '75 minutes',
 '113 minutes',
 '100 minutes',
 '78 minutes',
 '83 minutes',
 '69 minutes',
 '96 minutes',
 '115 minutes',
 '86 minutes',
 '92 minutes',
 '65 minutes',
 '95 minutes',
 '73 minutes',
 '73 minutes',
 '68 minutes',
 '128 minutes',
 '85 minutes',
 '88 minutes',
 '125 minutes',
 '96 minutes',
 '104 minutes',
 '95 minutes',
 '74 minutes',
 '72 minutes',
 '88 minutes',
 '75 minutes',
 '61 minutes',
 '117 minutes',
 '94 minutes',
 '100 minutes',
 '143 minutes',
 '96 minutes',
 '64 minutes',
 '87 minutes',
 '85 minutes',
 '87 minutes',
 '50 minutes',
 '74 minutes',
 '136 minutes',
 '76 minutes',
 '85 minutes',
 '65 minutes',
 '76 minutes',
 '40 minutes',
 '120 minutes',
 '84 minutes',
 '113 minutes',
 '67 minutes',
 '115 minutes',
 '67 minutes',
 '131 minutes',
 '100 minutes',
 '79 minutes',
 '68 minutes',
 '95 minutes',
 '97 minutes',
 '72 minutes',
 '100 minutes',
 '119 minutes',
 '100 minutes',
 '76 minutes',
 '68 minutes',
 '67 minutes',
 '120 minutes',
 '81 minutes',
 '143 minutes',
 '72 minutes',
 '118 minutes',
 '40 minutes',
 '72 minutes',
 '120 minutes',
 '99 minutes',
 '82 minutes',
 '117 minutes',
 '72 minutes',
 '150 minutes',
 '104 minutes',
 '73 minutes',
 '76 minutes',
 '92 minutes',
 '69 minutes',
 '70 minutes',
 '95 minutes',
 '94 minutes',
 '169 minutes',
 '111 minutes',
 '85 minutes',
 '82 minutes',
 '87 minutes',
 '110 minutes',
 '107 minutes',
 '124 minutes',
 '74 minutes',
 '82 minutes',
 '150 minutes',
 '97 minutes',
 '77 minutes',
 '91 minutes',
 '100 minutes',
 '112 minutes',
 '93 minutes',
 '78 minutes',
 '96 minutes',
 '99 minutes',
 ['76 minutes', '85 minutes'],
 '98 minutes',
 '97 minutes',
 ['99 minutes (UK)', '90 minutes (U.S.)'],
 '101 minutes',
 '96 minutes',
 'N/A',
 '90 minutes',
 '101 minutes',
 '107 minutes',
 '82 minutes',
 '101 minutes',
 '96 minutes',
 '88 minutes',
 '97 minutes',
 '108 minutes',
 ['104 minutes (Original cut)', '84 minutes (Disney cut)'],
 '116 minutes',
 '103 minutes',
 '109 minutes',
 '115 minutes',
 '74 minutes',
 '79 minutes',
 '123 minutes',
 '108 minutes',
 '100 minutes',
 '125 minutes',
 'N/A',
 '84 minutes',
 '90 minutes',
 '88 minutes',
 '109 minutes',
 '89 minutes',
 '104 minutes',
 '137 minutes',
 '106 minutes',
 '63 minutes',
 '88 minutes',
 '103 minutes',
 '93 minutes',
 '95 minutes',
 '132 minutes',
 '77 minutes',
 '96 minutes',
 '93 minutes',
 '100 minutes',
 '89 minutes',
 '87 minutes',
 '75 minutes',
 '101 minutes',
 '130 minutes',
 '77 minutes',
 '104 minutes',
 '149 minutes',
 '92 minutes',
 '81 minutes',
 '102 minutes',
 '125 minutes',
 ['107 minutes', '125 minutes (Extended Cut)'],
 '78 minutes',
 '77 minutes',
 '124 minutes',
 '97 minutes',
 '84 minutes',
 '127 minutes',
 '81 minutes',
 '102 minutes',
 '124 minutes',
 '129 minutes',
 '76 minutes',
 '106 minutes',
 '82 minutes',
 '130 minutes',
 '95 minutes',
 '154 minutes',
 '97 minutes',
 '117 minutes',
 '108 minutes',
 '106 minutes',
 '99 minutes',
 '113 minutes',
 '97 minutes',
 '118 minutes',
 '103 minutes',
 '124 minutes',
 '107 minutes',
 '161 minutes',
 '86 minutes',
 '129 minutes',
 '76 minutes',
 '129 minutes',
 '102 minutes',
 'N/A',
 '162 minutes',
 '114 minutes',
 '105 minutes',
 '109 minutes',
 '118 minutes',
 '104 minutes',
 '99 minutes',
 '112 minutes',
 '131 minutes',
 '112 minutes',
 '76 minutes',
 '128 minutes',
 '100 minutes',
 '118 minutes',
 '119 minutes',
 '104 minutes',
 '100 minutes',
 '103 minutes',
 '114 minutes',
 '99 minutes',
 '102 minutes',
 '107 minutes',
 '78 minutes',
 '86 minutes',
 '95 minutes',
 '160 minutes',
 '85 minutes',
 '100 minutes',
 '95 minutes',
 '115 minutes',
 '110 minutes',
 '122 minutes',
 '101 minutes',
 '121 minutes',
 '95 minutes',
 '107 minutes',
 '134 minutes',
 '95 minutes',
 '128 minutes',
 '102 minutes',
 '58 minutes',
 '108 minutes',
 '82 minutes',
 '100 minutes',
 '107 minutes',
 '91 minutes',
 '84 minutes',
 '97 minutes',
 '105 minutes',
 '105 minutes',
 '111 minutes',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 '58 minutes',
 '102 minutes',
 'N/A',
 '81 minutes',
 '70 minutes',
 'N/A',
 'N/A',
 '93 minutes',
 '91 minutes',
 '78 minutes',
 '85 minutes',
 '124 minutes',
 'N/A',
 'N/A',
 '83 minutes',
 'N/A',
 '107 minutes',
 'N/A',
 '79 minutes',
 '74 minutes',
 ['468 minutes'],
 '108 minutes',
 'N/A']

In [124]:
def minute_to_integer(running_time):
  if running_time == 'N/A':
    return None

  if isinstance(running_time, list):
    entry = running_time[0]
    value = int(entry.split(" ")[0])
    return value
  else:
    value = int(running_time.split(" ")[0])
    return value



for movie in movie_info_list:
  movie["Running time (int)"] = minute_to_integer(movie.get('Running time', 'N/A'))

In [125]:
movie_info_list[0]

{'title': 'Snow White and the Seven Dwarfs',
 'Directed by': ['David Hand',
  'William Cottrell',
  'Wilfred Jackson',
  'Larry Morey',
  'Perce Pearce',
  'Ben Sharpsteen'],
 'Written by': ['Ted Sears',
  'Richard Creedon',
  'Otto Englander',
  'Dick Rickard',
  'Earl Hurd',
  'Merrill De Maris',
  'Dorothy Ann Blank',
  'Webb Smith'],
 'Based on': ['Snow White', 'by The', 'Brothers Grimm'],
 'Produced by': 'Walt Disney',
 'Starring': ['Adriana Caselotti',
  'Lucille La Verne',
  'Harry Stockwell',
  'Roy Atwell',
  'Pinto Colvig',
  'Otis Harlan',
  'Scotty Mattraw',
  'Billy Gilbert',
  'Eddie Collins',
  'Moroni Olsen',
  'Stuart Buchanan'],
 'Music by': ['Frank Churchill', 'Paul Smith', 'Leigh Harline'],
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release dates': ['December 21, 1937 ( Carthay Circle Theatre )',
  'February 4, 1938 (United States)'],
 'Running time': '83 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$1.49 million',
 'Box office': '$418 million',
 'Running time (int)': 83}

In [126]:
[movie.get('Running time (int)', 'N/A') for movie in movie_info_list]

[83,
 88,
 126,
 74,
 64,
 70,
 42,
 70,
 71,
 75,
 94,
 73,
 75,
 82,
 68,
 74,
 96,
 75,
 84,
 77,
 92,
 69,
 81,
 60,
 127,
 93,
 76,
 75,
 73,
 85,
 81,
 70,
 90,
 80,
 75,
 83,
 83,
 72,
 97,
 75,
 104,
 93,
 105,
 95,
 97,
 134,
 69,
 92,
 126,
 79,
 97,
 128,
 73,
 91,
 105,
 98,
 130,
 89,
 93,
 67,
 98,
 100,
 118,
 103,
 110,
 80,
 74,
 91,
 91,
 97,
 118,
 139,
 131,
 92,
 87,
 116,
 93,
 110,
 110,
 131,
 101,
 108,
 84,
 78,
 75,
 164,
 106,
 110,
 99,
 113,
 108,
 102,
 85,
 91,
 93,
 100,
 100,
 79,
 96,
 113,
 89,
 117,
 92,
 88,
 92,
 87,
 93,
 93,
 93,
 90,
 83,
 96,
 88,
 89,
 91,
 93,
 92,
 97,
 100,
 100,
 89,
 None,
 91,
 112,
 115,
 95,
 91,
 97,
 104,
 74,
 48,
 77,
 104,
 128,
 101,
 94,
 104,
 90,
 100,
 88,
 93,
 98,
 112,
 84,
 97,
 97,
 114,
 96,
 97,
 109,
 83,
 90,
 107,
 96,
 103,
 91,
 95,
 105,
 113,
 80,
 101,
 90,
 74,
 90,
 89,
 110,
 74,
 93,
 84,
 83,
 74,
 77,
 107,
 93,
 88,
 108,
 84,
 121,
 89,
 104,
 90,
 86,
 84,
 108,
 107,
 96,
 98,
 105,
 108,
 94,
 106,
 102,
 88,
 102,
 102,
 97,
 111,
 100,
 96,
 96,
 78,
 81,
 108,
 89,
 99,
 89,
 81,
 92,
 100,
 89,
 79,
 91,
 101,
 104,
 103,
 86,
 105,
 74,
 93,
 92,
 98,
 95,
 93,
 87,
 93,
 87,
 128,
 77,
 86,
 95,
 114,
 93,
 83,
 83,
 88,
 78,
 112,
 92,
 78,
 72,
 82,
 75,
 104,
 75,
 113,
 100,
 78,
 83,
 69,
 96,
 115,
 86,
 92,
 65,
 95,
 73,
 73,
 68,
 128,
 85,
 88,
 125,
 96,
 104,
 95,
 74,
 72,
 88,
 75,
 61,
 117,
 94,
 100,
 143,
 96,
 64,
 87,
 85,
 87,
 50,
 74,
 136,
 76,
 85,
 65,
 76,
 40,
 120,
 84,
 113,
 67,
 115,
 67,
 131,
 100,
 79,
 68,
 95,
 97,
 72,
 100,
 119,
 100,
 76,
 68,
 67,
 120,
 81,
 143,
 72,
 118,
 40,
 72,
 120,
 99,
 82,
 117,
 72,
 150,
 104,
 73,
 76,
 92,
 69,
 70,
 95,
 94,
 169,
 111,
 85,
 82,
 87,
 110,
 107,
 124,
 74,
 82,
 150,
 97,
 77,
 91,
 100,
 112,
 93,
 78,
 96,
 99,
 76,
 98,
 97,
 99,
 101,
 96,
 None,
 90,
 101,
 107,
 82,
 101,
 96,
 88,
 97,
 108,
 104,
 116,
 103,
 109,
 115,
 74,
 79,
 123,
 108,
 100,
 125,
 None,
 84,
 90,
 88,
 109,
 89,
 104,
 137,
 106,
 63,
 88,
 103,
 93,
 95,
 132,
 77,
 96,
 93,
 100,
 89,
 87,
 75,
 101,
 130,
 77,
 104,
 149,
 92,
 81,
 102,
 125,
 107,
 78,
 77,
 124,
 97,
 84,
 127,
 81,
 102,
 124,
 129,
 76,
 106,
 82,
 130,
 95,
 154,
 97,
 117,
 108,
 106,
 99,
 113,
 97,
 118,
 103,
 124,
 107,
 161,
 86,
 129,
 76,
 129,
 102,
 None,
 162,
 114,
 105,
 109,
 118,
 104,
 99,
 112,
 131,
 112,
 76,
 128,
 100,
 118,
 119,
 104,
 100,
 103,
 114,
 99,
 102,
 107,
 78,
 86,
 95,
 160,
 85,
 100,
 95,
 115,
 110,
 122,
 101,
 121,
 95,
 107,
 134,
 95,
 128,
 102,
 58,
 108,
 82,
 100,
 107,
 91,
 84,
 97,
 105,
 105,
 111,
 None,
 None,
 None,
 None,
 None,
 None,
 58,
 102,
 None,
 81,
 70,
 None,
 None,
 93,
 91,
 78,
 85,
 124,
 None,
 None,
 83,
 None,
 107,
 None,
 79,
 74,
 468,
 108,
 None]

#### Convert Budget & Box office to number

In [127]:
[movie.get('Budget', 'N/a') for movie in movie_info_list]

['$1.49 million',
 '$2.6 million',
 '$2.28 million',
 '$600,000',
 '$950,000',
 '$858,000',
 'N/a',
 '$788,000',
 'N/a',
 '$1.35 million',
 '$2.125 million',
 'N/a',
 '$1.5 million',
 '$1.5 million',
 'N/a',
 '$2.2 million',
 '$1,800,000',
 '$3 million',
 'N/a',
 '$4 million',
 '$2 million',
 '$300,000',
 '$1.8 million',
 'N/a',
 '$5 million',
 'N/a',
 '$4 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$700,000',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$6 million',
 'under $1 million or $1,250,000',
 'N/a',
 '$2 million',
 'N/a',
 'N/a',
 '$2.5 million',
 'N/a',
 'N/a',
 '$4 million',
 '$3.6 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$3 million',
 'N/a',
 '$3 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$3 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$4.4–6 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$4 million',
 'N/a',
 '$5 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$5 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$4 million',
 'N/a',
 'N/a',
 'N/a',
 '$6.3 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$5 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$8 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'AU$1 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$5 million',
 'N/a',
 'N/a',
 'N/a',
 '$7.5 million',
 'N/a',
 '$10 million',
 'N/a',
 'N/a',
 '$3.5 to 4 million',
 'N/a',
 'N/a',
 'N/a',
 '$5.25 million',
 '$20 million',
 'N/a',
 '$9 million',
 'N/a',
 '$6-8 million',
 '$20 million',
 'N/a',
 'N/a',
 '$18 million',
 '$12 million',
 '$14 million',
 '$10 million',
 '$17 million',
 '$5 million',
 '$8 million',
 '$20 million',
 '$11 million',
 '$28 million',
 '$44 million',
 'N/a',
 'N/a',
 '$14 million',
 '$9 million',
 'N/a',
 'A$8.7 million',
 '$31 million',
 '$18 million',
 '$5 million',
 '$40 million',
 '$20 million',
 'N/a',
 '$14 million',
 '60 million Norwegian Kroner (around $8.7 million in 1989)',
 'N/a',
 '$35-40 million',
 '$25 million',
 '$15 million',
 '$32 million',
 '$14 million',
 '$28 million',
 '$12 million',
 'N/a',
 'N/a',
 '$6.5 million',
 '$28 million',
 '$17 million',
 '$30 million',
 'N/a',
 '$13 million',
 'N/a',
 'N/a',
 '$45 million',
 '$31 million',
 'N/a',
 '$22 million',
 '$30 million',
 'N/a',
 '$22 million',
 ['$32 million', '(estimated)'],
 '$18 million',
 '$55 million',
 '$24 million',
 '$15 million',
 '$12 million',
 'N/a',
 '$30 million',
 'N/a',
 '$31 million',
 'N/a',
 '$38 million',
 '$70 million',
 '$15 million',
 'N/a',
 '$67 million',
 'N/a',
 '$32 million',
 '$7 million',
 '$85 million',
 '$55 million',
 '$3 million',
 '$16 million',
 '$80 million',
 '$30 million',
 '$24 million',
 '$90 million',
 '$15 million',
 'N/a',
 '$30 million',
 '$120 million',
 '$90 million',
 '$65 million',
 '$5 million',
 'N/a',
 '$130 million',
 '$75–90 million',
 '$10 million',
 '$90 million',
 '$15 million –$30 million',
 '$4,000,000 (estimated)',
 '$127.5 million',
 '$80–$85 million',
 '$65 million',
 'N/a',
 '$30 million',
 '$85 million',
 '$100 million',
 '$23 million',
 'N/a',
 '$90–120 million',
 '$26 million',
 '$25 million',
 '$115 million',
 'N/a',
 '$33 million',
 '$20 million',
 '$5 million',
 'N/a',
 '$22 million',
 '$80 million',
 '$35 million',
 '$19.2 million',
 '$15 million',
 '$65 million',
 '$140 million',
 'N/a',
 '$20 million',
 '$12 million',
 '$46 million',
 '$13 million',
 '$20 million',
 '$17 million',
 '$94 million',
 '$140 million',
 '$26 million',
 'N/a',
 'N/a',
 '$46 million',
 '$90 million',
 'N/a',
 '$10 million',
 '$28 million',
 'N/a',
 '$15 million',
 'N/a',
 '$110 million',
 'N/a',
 '$110 million',
 'N/a',
 '$45 million',
 'N/a',
 '$92–145 million',
 'N/a',
 '$100 million',
 'N/a',
 'N/a',
 '$20 million',
 '$56 million',
 '$25 million',
 'N/a',
 '$50 million',
 ['¥', '2.4 billion', 'US$24 million'],
 '$35 million',
 '$35 million',
 'N/a',
 'N/a',
 '$25 million',
 '$150 million',
 '$180 million',
 'N/a',
 '$30 million',
 '$1 million',
 'N/a',
 '$40 million',
 '$50 million',
 '$80 million',
 '$120 million',
 'N/a',
 '$225 million',
 '$30 million',
 'N/a',
 '$24 million',
 '$12 million',
 'N/a',
 '$8 million',
 '$17 million',
 '$150 million',
 '$300 million',
 '$150 million',
 'N/a',
 '$25 million',
 'N/a',
 '$22 million',
 '$85 million',
 '$130 million',
 '$7 million',
 '$25 million',
 '$225 million',
 '$180 million',
 'N/a',
 '$20 million',
 'N/a',
 '$11 million',
 'N/a',
 '$50 million',
 '$150 million',
 '$80 million',
 'N/a',
 '$50 million',
 '$30 million',
 '$47 million',
 'N/a',
 '$175 million',
 'N/a',
 '$150 million',
 ['¥', '3.4 billion', '(', 'US$', '34 million)'],
 'N/a',
 '$30—$35 million',
 '$8 million ( ₽ 350 million)',
 '$175–200 million',
 '$35 million',
 '$105 million',
 '$150 –$200 million',
 '$80 million',
 '$150–200 million',
 '$200 million',
 '$150 million',
 '$22 million',
 'N/a',
 '$30—$35 million',
 '$35 million',
 'N/a',
 '$260 million',
 '$170 million',
 '',
 'N/a',
 'N/a',
 '$150 million',
 'N/a',
 '$5 million',
 '$8 million',
 ['$410.6 million (gross)', '$378.5 million (net)'],
 '$200 million',
 '$30 million',
 'N/a',
 '$45 million',
 'N/a',
 '$23 million',
 ['$306.6 million (gross)', '$263.7 million (net)'],
 '$5 million',
 'N/a',
 '$185 million',
 '$25 million',
 'N/a',
 '$39 million',
 '$30—35 million',
 '$165 million',
 '$200 million',
 'N/a',
 '$200 million',
 '$225–250 million',
 '$50 million',
 'N/a',
 '$150 million',
 '$35 million',
 '$50 million',
 'N/a',
 '$5 million',
 '$25 million',
 '$180–263 million',
 '$50 million',
 '(US$2.9 million)',
 '$28 million',
 '$165 million',
 '$50 million',
 '$17 million',
 'N/a',
 '$84.21-95 million',
 '$5–10 million',
 '$180–190 million',
 '$175 million',
 '',
 '$175–200 million',
 '$70–80 million',
 '$150 million',
 '$175–177 million',
 'N/a',
 '$170 million',
 '$200 million',
 '$140 million',
 '$65 million',
 '$15 million',
 '$150–175 million',
 '',
 '$8 million',
 '$160–255 million',
 '$5–10 million',
 '$230–320 million',
 '$175 million',
 'N/a',
 ['131 crore'],
 ['~$8 million', '₽', '370 million'],
 '$175–225 million',
 '$100–130 million',
 '$200 million',
 '$65-70 million',
 '$120–133 million',
 '$175 million',
 '$130 million',
 '$170 million',
 'N/a',
 '$183 million',
 '$200 million',
 '$250–260 million',
 '$185 million',
 '$60 million',
 'N/a',
 '$150 million',
 '$40 million',
 '$42 million',
 '$175–200 million',
 'N/a',
 'N/a',
 'N/a',
 '$125 million',
 '$12.5 million (stage production)',
 'N/a',
 '$24 million',
 'N/a',
 '$200 million',
 'Unknown',
 '$26 million',
 '$150 million',
 '₽650 million',
 'N/a',
 '$100 million+',
 '$100–200 million',
 'N/a',
 '$200 million',
 '$120–150 million',
 'N/a',
 '₽454 million',
 'N/a',
 '$175 million',
 'N/a',
 '$36 million',
 'N/a',
 '~$70 million',
 'N/a',
 '$200 million',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 'N/a',
 '$11 million',
 'N/a',
 '$28 million',
 '$858,000',
 '$53.4 million',
 'N/a',
 '$85 million',
 '$70 million',
 '$75–90 million',
 '$80 million',
 '$130 million',
 'N/a',
 'N/a',
 '$5 million',
 'N/a',
 '$18 million or $25 million',
 'N/a',
 '$4 million',
 '$3 million',
 'N/a',
 '$35-40 million',
 'N/a']

TODO

* Given either a string ora list of strings as input, return a number (int or float) which is equal to the montary value

* money_conversion("$12.2 million") --> 12200000  ## Word Syntax

* money_coversaion("$790,000") --> 790000  ## Value Syntax

In [128]:
import re

amounts = r"thousand|million|billion"
number = r"\d+(,\d{3})*\.*\d*"

value_re = rf"\${number}"
word_re = rf"\${number}(-|\sto\s)?({number})?\s({amounts})"

# print(re.search(number, '704,222.12').group())

def word_to_value(word):
  value_dict = {"thousand" : 1000, "million":1000000, "billion": 1000000000}
  return value_dict[word]

def parse_value_syntax(string):
  value_string = re.search(number, string).group()
  value = float(value_string.replace(",",""))
  # strip out commas before returningsolution
  return value

def parse_word_syntax(string):
  value_string = re.search(number, string, flags=re.I).group()
  value = float(value_string.replace(",",""))
  word = re.search(amounts, string).group().lower()
  word_value = word_to_value(word)
  return value*word_value

def money_conversion(money):
  if money == 'N/A':
    return None
  if isinstance(money, list):
    money = money[0]
  value_syntax = re.search(value_re, money)
  word_syntax = re.search(word_re, money)
  if word_syntax:
    return parse_word_syntax(word_syntax.group())
  elif value_syntax:
    return parse_value_syntax(value_syntax.group())
  else:
    return None

In [129]:
for movie in movie_info_list:
  movie['Budget (float)'] = money_conversion(movie.get('Budget', 'N/A'))
  movie['Box office (float)'] = money_conversion(movie.get('Box office', 'N/A'))

In [130]:
movie_info_list[1]

{'title': 'Pinocchio',
 'Directed by': ['Ben Sharpsteen',
  'Hamilton Luske',
  'Bill Roberts',
  'Norman Ferguson',
  'Jack Kinney',
  'Wilfred Jackson',
  'T. Hee'],
 'Story by': ['Ted Sears',
  'Otto Englander',
  'Webb Smith',
  'William Cottrell',
  'Joseph Sabo',
  'Erdman Penner',
  'Aurelius Battaglia'],
 'Based on': ['The Adventures of Pinocchio', 'by', 'Carlo Collodi'],
 'Produced by': 'Walt Disney',
 'Starring': ['Cliff Edwards',
  'Dickie Jones',
  'Christian Rub',
  'Walter Catlett',
  'Charles Judels',
  'Evelyn Venable',
  'Frankie Darro'],
 'Music by': ['Leigh Harline', 'Paul J. Smith'],
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release dates': ['February 7, 1940 ( Center Theatre )',
  'February 23, 1940 (United States)'],
 'Running time': '88 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$2.6 million',
 'Box office': '$164 million',
 'Running time (int)': 88,
 'Budget (float)': 2600000.0,
 'Box office (float)': 164000000.0}

#### Convert Dates to DateTime object

In [131]:
[movie.get('Release date', 'N/A') for movie in movie_info_list]

['N/A',
 'N/A',
 ['November 13, 1940'],
 ['June 27, 1941'],
 'N/A',
 'N/A',
 'N/A',
 ['July 17, 1943'],
 'N/A',
 'N/A',
 'N/A',
 ['September 27, 1947'],
 'May 27, 1948',
 'N/A',
 ['October 5, 1949'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['February 5, 1953 (United States)'],
 ['July 23, 1953 (US)'],
 ['November 10, 1953'],
 'N/A',
 ['August 17, 1954'],
 ['December 23, 1954'],
 'May 25, 1955',
 ['June 22, 1955'],
 ['September 14, 1955'],
 'December 22, 1955',
 'June 8, 1956',
 'July 18, 1956',
 ['September 4, 1956'],
 ['December 20, 1956'],
 'June 19, 1957',
 'August 28, 1957',
 ['December 25, 1957'],
 ['July 8, 1958'],
 ['August 12, 1958'],
 ['December 25, 1958'],
 ['January 29, 1959'],
 ['March 19, 1959'],
 'N/A',
 ['November 10, 1959'],
 'January 21, 1960 ( Sarasota, FL )',
 ['February 24, 1960'],
 'May 19, 1960',
 'N/A',
 ['November 1, 1960'],
 ['December 21, 1960'],
 ['January 25, 1961'],
 'March 16, 1961',
 ['June 21, 1961'],
 ['July 12, 1961'],
 ['July 17, 1961'],
 ['December 14, 1961'],
 'April 5, 1962',
 ['May 17, 1962'],
 ['June 6, 1962'],
 'September 26, 1962',
 ['November 7, 1962 (Los Angeles)'],
 'N/A',
 ['January 16, 1963'],
 ['March 29, 1963 (U.S.)'],
 ['June 1, 1963'],
 ['July 7, 1963'],
 'November 20, 1963',
 'N/A',
 ['March 12, 1964'],
 ['February 11, 1964 (Los Angeles)'],
 'N/A',
 ['July 2, 1964'],
 'N/A',
 'November 10, 1964',
 ['December 18, 1964'],
 ['August 18, 1965 (Los Angeles)'],
 ['December 2, 1965'],
 'N/A',
 'N/A',
 'October 1, 1966',
 ['December 1, 1966'],
 ['February 8, 1967 (San Francisco)'],
 ['June 15, 1967'],
 ['July 12, 1967'],
 ['October 18, 1967'],
 ['October 19, 1967'],
 'N/A',
 ['February 8, 1968'],
 ['March 21, 1968 ( Radio City Music Hall )'],
 ['June 26, 1968'],
 ['December 3, 1968'],
 'N/A',
 ['March 21, 1969'],
 ['June 11, 1969'],
 ['November 28, 1969'],
 ['February 11, 1970'],
 'July 1, 1970',
 'N/A',
 'N/A',
 'March 17, 1971',
 'June 22, 1971',
 ['June 30, 1971'],
 ['October 7, 1954'],
 ['March 22, 1972 (US)'],
 'July 12, 1972',
 ['July 5, 1972'],
 ['October 18, 1972'],
 ['December 22, 1972'],
 'February 1, 1973',
 ['March 23, 1973'],
 ['June 20, 1973'],
 ['November 8, 1973'],
 ['December 14, 1973'],
 ['June 6, 1974'],
 ['July 31, 1974'],
 ['August 1, 1974'],
 'December 20, 1974 (with Winnie the Pooh and Tigger Too )',
 ['February 6, 1975'],
 ['March 21, 1975 (United States)'],
 ['July 1, 1975'],
 ['July 9, 1975'],
 ['October 8, 1975'],
 ['1948–1960'],
 'December 25, 1975',
 ['February 11, 1976 (Los Angeles)'],
 ['July 1, 1976'],
 ['July 7, 1976'],
 ['December 16, 1976'],
 'N/A',
 'N/A',
 ['March 11, 1977'],
 ['June 20, 1977'],
 ['June 22, 1977'],
 ['June 24, 1977'],
 ['November 3, 1977'],
 'December 16, 1977',
 ['March 10, 1978'],
 ['June 30, 1978 (New York)'],
 'July 5, 1978',
 'February 9, 1979',
 ['June 27, 1979'],
 'N/A',
 'N/A',
 ['February 8, 1980'],
 'N/A',
 ['June 27, 1980'],
 ['July 9, 1980 (Los Angeles)'],
 'N/A',
 'February 11, 1981 (Los Angeles)',
 'March 20, 1981',
 ['June 26, 1981'],
 ['July 10, 1981'],
 ['August 7, 1981'],
 ['February 5, 1982'],
 ['July 9, 1982'],
 'July 30, 1982',
 ['March 11, 1983'],
 ['April 29, 1983 (United States)'],
 'N/A',
 ['June 21, 1985 (United States)'],
 ['July 24, 1985'],
 ['September 27, 1985'],
 ['November 22, 1985'],
 ['July 2, 1986'],
 ['August 1, 1986'],
 ['June 5, 1987'],
 'N/A',
 ['November 18, 1988'],
 ['June 23, 1989'],
 'August 18, 1989',
 ['November 17, 1989'],
 ['August 3, 1990'],
 ['November 16, 1990'],
 ['January 18, 1991'],
 'N/A',
 ['May 24, 1991'],
 ['June 21, 1991'],
 'N/A',
 ['April 10, 1992'],
 ['July 17, 1992'],
 ['October 2, 1992'],
 ['November 11, 1992'],
 ['December 11, 1992'],
 'February 3, 1993',
 ['March 12, 1993'],
 ['April 2, 1993'],
 ['July 16, 1993'],
 ['October 1, 1993'],
 ['November 12, 1993'],
 ['January 14, 1994'],
 ['February 11, 1994'],
 ['March 25, 1994'],
 ['April 14, 1994'],
 ['June 15, 1994 (United States)'],
 ['July 15, 1994'],
 ['October 28, 1994'],
 'N/A',
 ['December 21, 1994'],
 ['February 17, 1995'],
 ['March 3, 1995'],
 ['March 24, 1995'],
 ['April 7, 1995'],
 ['June 16, 1995 (United States)'],
 ['July 28, 1995'],
 ['August 11, 1995'],
 ['September 27, 1995'],
 'N/A',
 'N/A',
 ['December 22, 1995'],
 ['February 16, 1996'],
 ['March 8, 1996'],
 'N/A',
 'N/A',
 ['August 30, 1996'],
 ['October 4, 1996'],
 ['November 27, 1996 (United States)'],
 ['February 14, 1997'],
 'N/A',
 'March 18, 1997',
 ['June 13, 1997 (United States)'],
 ['July 16, 1997'],
 ['August 1, 1997'],
 ['October 10, 1997'],
 'N/A',
 ['December 25, 1997'],
 ['March 27, 1998 (United States)'],
 'N/A',
 ['July 29, 1998 (United States)'],
 'September 29, 1998',
 ['November 13, 1998'],
 ['November 20, 1998'],
 ['December 25, 1998'],
 ['February 12, 1999'],
 ['March 26, 1999'],
 'N/A',
 'N/A',
 ['July 23, 1999'],
 'N/A',
 'N/A',
 'February 11, 2000',
 ['March 10, 2000'],
 ['May 19, 2000 (United States)'],
 'N/A',
 ['July 7, 2000'],
 ['September 19, 2000'],
 ['September 29, 2000'],
 ['November 22, 2000 (United States)'],
 'N/A',
 'N/A',
 ['February 27, 2001'],
 'N/A',
 'N/A',
 ['October 5, 2001'],
 'N/A',
 ['November 3, 2001'],
 ['January 18, 2002'],
 'N/A',
 ['February 26, 2002'],
 ['March 19, 2002'],
 ['March 29, 2002'],
 'N/A',
 'N/A',
 ['20 July 2001 (Japan)'],
 ['October 11, 2002 (U.S.)'],
 'N/A',
 'N/A',
 ['January 21, 2003'],
 ['February 14, 2003'],
 ['March 11, 2003'],
 'N/A',
 'N/A',
 ['April 18, 2003 (United States)'],
 ['May 2, 2003 (United States)'],
 ['May 30, 2003'],
 'N/A',
 'N/A',
 ['August 26, 2003'],
 ['October 21, 2003'],
 ['November 1, 2003'],
 ['November 26, 2003'],
 ['December 25, 2003'],
 ['January 16, 2004'],
 ['February 20, 2004'],
 ['February 10, 2004'],
 ['February 17, 2004 (United States)'],
 ['March 9, 2004'],
 ['April 2, 2004'],
 ['April 22, 2004'],
 ['June 16, 2004'],
 ['July 2, 2004'],
 ['August 11, 2004'],
 ['August 17, 2004'],
 'N/A',
 ['November 9, 2004'],
 ['November 19, 2004'],
 ['January 28, 2005'],
 'N/A',
 ['February 11, 2005'],
 ['March 4, 2005'],
 ['March 18, 2005'],
 ['June 14, 2005'],
 'N/A',
 'N/A',
 ['July 29, 2005'],
 'N/A',
 ['August 30, 2005'],
 ['September 13, 2005'],
 ['September 30, 2005'],
 'N/A',
 'N/A',
 'December 13, 2005',
 'January 13, 2006',
 ['January 27, 2006'],
 'N/A',
 ['February 17, 2006 (United States)'],
 ['March 10, 2006'],
 ['April 14, 2006'],
 'N/A',
 'N/A',
 'N/A',
 ['August 25, 2006'],
 ['August 29, 2006'],
 'N/A',
 ['November 3, 2006'],
 ['December 12, 2006'],
 ['February 6, 2007'],
 ['February 16, 2007'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['August 3, 2007'],
 ['August 28, 2007'],
 'N/A',
 'N/A',
 ['December 21, 2007'],
 'February 1, 2008',
 ['March 7, 2008'],
 'N/A',
 'N/A',
 ['August 26, 2008'],
 ['October 3, 2008 (United States)'],
 'October 17, 2008',
 'N/A',
 'N/A',
 ['October 28, 2008'],
 ['November 21, 2008'],
 ['December 25, 2008'],
 ['February 27, 2009'],
 'N/A',
 ['April 10, 2009'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['July 24, 2009'],
 ['July 19, 2008'],
 ['2009'],
 'N/A',
 ['October 29, 2009'],
 'N/A',
 ['November 25, 2009'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['July 29, 2006'],
 'N/A',
 'N/A',
 'N/A',
 ['8 October 2010'],
 'N/A',
 'N/A',
 ['14 January 2011 (India)'],
 ['February 1, 2011'],
 ['17 February 2011'],
 'N/A',
 ['22 April 2011'],
 'N/A',
 ['April 29, 2011'],
 'N/A',
 'N/A',
 'N/A',
 ['September 20, 2011'],
 'N/A',
 ['January 31, 2012'],
 ['17 July 2010'],
 'N/A',
 'N/A',
 ['25 May 2012'],
 'N/A',
 ['August 15, 2012'],
 ['September 18, 2012'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['August 27, 2013'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['April 18, 2014 (United States)'],
 'N/A',
 'N/A',
 'N/A',
 ['19 September 2014'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['April 17, 2015 (United States)'],
 'N/A',
 'N/A',
 ['19 June 2015'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['24 June 2005'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['June 30, 2017 (United States)'],
 ['14 July 2017'],
 ['October 29, 2017 ( Russia )'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['April 17, 2019 (United States)'],
 'N/A',
 'N/A',
 'N/A',
 ['October 18, 2019'],
 ['November 12, 2019 (United States)'],
 ['November 12, 2019 (United States)'],
 'N/A',
 ['December 20, 2019 (United States)'],
 'N/A',
 'N/A',
 ['March 13, 2020'],
 'N/A',
 ['April 3, 2020'],
 ['June 12, 2020'],
 ['July 3, 2020'],
 ['July 31, 2020'],
 ['April 6, 2020'],
 ['August 21, 2020 (United States)'],
 'N/A',
 ['December 4, 2020'],
 ['December 11, 2020 (United States)'],
 'N/A',
 ['January 1, 2021 ( Russia )'],
 ['February 19, 2021'],
 ['March 5, 2021 (United States)'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['December 3, 2021'],
 ['23 December 2021'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['April 22, 2022'],
 'N/A',
 'N/A',
 'N/A',
 ['June 24, 2022'],
 ['September 8, 2022'],
 ['September 30, 2022'],
 ['November 23, 2022'],
 ['November 24, 2022'],
 ['March 10, 2023'],
 'May 26, 2023',
 ['December 3, 2021'],
 ['November 25, 1987'],
 ['2023'],
 'N/A',
 'N/A',
 'N/A',
 '1950–present',
 ['June 13, 1997 (United States)'],
 'N/A',
 ['July 23, 1999'],
 'N/A',
 ['December 21, 2007'],
 'N/A',
 'N/A',
 ['November 8, 1973'],
 'N/A',
 ['June 6, 1986 (United States)'],
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 ['June 21, 1991'],
 'N/A']

In [132]:
from datetime import datetime

dates = [movie.get('Release date', 'N/A') for movie in movie_info_list]

def clean_date(date):
  return date.split("(")[0].strip()

def date_conversion(date):
  if isinstance(date, list):
    date = date[0]
  if date == 'N/A':
    return None
  date_str = clean_date(date)
  fmts = ["%B %d, %Y", "%d %B %Y", "Y"]
  for fmt in fmts: 
    try:
      return datetime.strptime(date_str, fmt)
    except:
      pass
  return None

In [133]:
for movie in movie_info_list: 
  movie['Release date (datetime)'] = date_conversion(movie.get('Release date', 'N/A'))

In [134]:
movie_info_list[2]

{'title': 'Fantasia',
 'Directed by': ['Samuel Armstrong',
  'James Algar',
  'Bill Roberts',
  'Paul Satterfield',
  'Ben Sharpsteen',
  'David D. Hand',
  'Hamilton Luske',
  'Jim Handley',
  'Ford Beebe',
  'T. Hee',
  'Norman Ferguson',
  'Wilfred Jackson'],
 'Story by': ['Joe Grant', 'Dick Huemer'],
 'Produced by': ['Walt Disney', 'Ben Sharpsteen'],
 'Starring': ['Leopold Stokowski', 'Deems Taylor'],
 'Narrated by': 'Deems Taylor',
 'Cinematography': 'James Wong Howe',
 'Music by': 'See program',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release date': ['November 13, 1940'],
 'Running time': '126 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$2.28 million',
 'Box office': '$76.4–$83.3 million (United States and Canada)',
 'Running time (int)': 126,
 'Budget (float)': 2280000.0,
 'Box office (float)': 83300000.0,
 'Release date (datetime)': datetime.datetime(1940, 11, 13, 0, 0)}

In [135]:
import pickle

def save_data_pickle(name, data):
  with open(name, 'wb') as f:
    pickle.dump(data, f)

In [136]:
import pickle

def load_data_pickle(name):
  with open(name, 'rb') as f:
    return pickle.load(f)

In [137]:
save_data_pickle('disney_movie_cleaned_data.pickle', movie_info_list)

### Task#4: Attach IMDB/Rotten Tommatoes/Metascore ratings Using API

In [138]:
import requests
import os
import urllib

# http://www.omdbapi.com/?apikey=[yourkey]&

def get_omdb_info(title):
  base_url = "http://www.omdbapi.com/?"
  parameters = {'apikey': '2704f42a', 't': title}
  params_encoded = urllib.parse.urlencode(parameters)
  full_url = base_url + params_encoded
  return requests.get(full_url).json()

def get_rotten_tomatoes_score(omdb_info):
  ratings = omdb_info.get('Ratings', [])
  for rating in ratings:
    if rating['Source'] == 'Rotten Tomatoes':
      return rating['Value']
  return None

get_omdb_info

In [139]:
for movie in movie_info_list:
  title = movie['title']
  omdb_info = get_omdb_info(title)
  movie['imdb'] = omdb_info.get('imdbRating', None)
  movie['metascore'] = omdb_info.get('Metascore', None)
  movie['rotten_tomatoes'] = get_rotten_tomatoes_score(omdb_info)

In [140]:
movie_info_list[2]

{'title': 'Fantasia',
 'Directed by': ['Samuel Armstrong',
  'James Algar',
  'Bill Roberts',
  'Paul Satterfield',
  'Ben Sharpsteen',
  'David D. Hand',
  'Hamilton Luske',
  'Jim Handley',
  'Ford Beebe',
  'T. Hee',
  'Norman Ferguson',
  'Wilfred Jackson'],
 'Story by': ['Joe Grant', 'Dick Huemer'],
 'Produced by': ['Walt Disney', 'Ben Sharpsteen'],
 'Starring': ['Leopold Stokowski', 'Deems Taylor'],
 'Narrated by': 'Deems Taylor',
 'Cinematography': 'James Wong Howe',
 'Music by': 'See program',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'RKO Radio Pictures',
 'Release date': ['November 13, 1940'],
 'Running time': '126 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$2.28 million',
 'Box office': '$76.4–$83.3 million (United States and Canada)',
 'Running time (int)': 126,
 'Budget (float)': 2280000.0,
 'Box office (float)': 83300000.0,
 'Release date (datetime)': datetime.datetime(1940, 11, 13, 0, 0),
 'imdb': '7.7',
 'metascore': '96',
 'rotten_tomatoes': '95%'}

### Task#5: Save data in CSV/JSON format

In [141]:
# changing the datetime object to string to save the file
for movie in movie_info_list:
  current_date = movie['Release date (datetime)']
  if current_date:
    movie['Release date (datetime)'] = current_date.strftime('%B %d, %Y')
  else:
    movie['Release date (datetime)'] = None

In [142]:
import json

def save_data(name, data):
  with open(name, 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=2)

In [143]:
save_data('disney_data_final.json', movie_info_list)

In [144]:
import pandas as pd

df = pd.DataFrame(movie_info_list)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    520 non-null    object
 1   Directed by              516 non-null    object
 2   Written by               215 non-null    object
 3   Based on                 283 non-null    object
 4   Produced by              507 non-null    object
 5   Starring                 481 non-null    object
 6   Music by                 510 non-null    object
 7   Production company       211 non-null    object
 8   Distributed by           518 non-null    object
 9   Release dates            185 non-null    object
 10  Running time             502 non-null    object
 11  Country                  458 non-null    object
 12  Language                 496 non-null    object
 13  Budget                   322 non-null    object
 14  Box office               402 non-null    object
 15  Running time (int)       502 non-null    float64
 16  Budget (float)           313 non-null    float64
 17  Box office (float)       391 non-null    float64
 18  Release date (datetime)  324 non-null    object
 19  imdb                     502 non-null    object
 20  metascore                502 non-null    object
 21  rotten_tomatoes          377 non-null    object
 22  Story by                 176 non-null    object
 23  Narrated by              65 non-null     object
 24  Cinematography           394 non-null    object
 25  Release date             328 non-null    object
 26  Edited by                472 non-null    object
 27  Languages                22 non-null     object
 28  Screenplay by            257 non-null    object
 29  Countries                56 non-null     object
 30  Color process            5 non-null      object
 31  Production companies     306 non-null    object
 32  Japanese                 5 non-null      object
 33  Hepburn                  5 non-null      object
 34  Adaptation by            1 non-null      object
 35  Animation by             1 non-null      object
 36  Traditional              2 non-null      object
 37  Simplified               2 non-null      object
 38  Original title           1 non-null      object
 39  Suggested by             1 non-null      object
 40  Layouts by               2 non-null      object
 41  Music                    2 non-null      object
 42  Lyrics                   2 non-null      object
 43  Book                     2 non-null      object
 44  Basis                    2 non-null      object
 45  Productions              2 non-null      object
 46  Awards                   2 non-null      object
dtypes: float64(3), object(44)
memory usage: 191.1+ KB

In [145]:
df.to_csv('disney_data_final.csv')